<link rel="import" href="../polymer/polymer/polymer.html">
<link rel="import" href="../polymer/font-roboto/roboto.html">
<link rel="import" href="../polymer/core-icons/core-icons.html">
<link rel="import" href="../polymer/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../polymer/core-header-panel/core-header-panel.html">
<link rel="import" href="../polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="../polymer/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../polymer/core-icons/core-icons.html">
<link rel="import" href="../polymer/core-menu/core-menu.html">
<link rel="import" href="../polymer/core-item/core-item.html">
<link rel="import" href="../polymer/paper-ripple/paper-ripple.html">
<link rel="import" href="../polymer/paper-fab/paper-fab.html">

<polymer-element name="himu62-app">
	<template>
		<core-drawer-panel rightDrawer disableSwipe>
			<core-header-panel drawer>
				<core-toolbar>Menu</core-toolbar>
				<core-menu selected="0">
					<core-item label="Top"><paper-ripple fit></paper-ripple></core-item>
					<core-item label="Profile"><paper-ripple fit></paper-ripple></core-item>
					<core-item label="Designs"><paper-ripple fit></paper-ripple></core-item>
					<core-item label="Web Sites"><paper-ripple fit></paper-ripple></core-item>
					<core-item label="Web Applications"><paper-ripple fit></paper-ripple></core-item>
				</core-menu>
			</core-header-panel>
			<core-header-panel main>
				<core-toolbar>
					<div flex>Portfolio</div>
					<paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
				</core-toolbar>

				<div fit id="fabscreen">
					<paper-fab icon="arrow-back" aria-label="page top" id="fabtop"></paper-fab>
				</div>
			</core-header-panel>
		</core-drawer-panel>
	</template>
</polymer-element>