himu62-app /deep/ {

core-header-panel[drawer] {
	background-color: $gray-100;

	core-toolbar {
		background-color: $amber-600;
		color: $white;
	}

	core-menu {
		margin: 12px 0;

		core-item {
			padding: 4px 12px;
			font-size: 1.1em;

			&.core-selected {
				background-color: $white-weak;
			}

			paper-ripple {
				color: $gray-300;
			}
		}
	}
}

core-header-panel[main] {

	core-toolbar {
		background-color: $primary;
		color: $white;
	}
}

core-drawer-panel {
	paper-fab {
		position: absolute;
		right: 16px;
		background-color: $accent;
		z-index: 1;
		@include transition(all .4s ease-out);
		
		top: -56px;
		visibility: hidden;
		opacity: 0;

		&.show {
			top: 36px;
			visibility: visible;
			opacity: 1;
		}

		/deep/ core-icon {
			@include transform(rotate(90deg));
		}
	}
}

}